@*<partial name="GamePartialView.cshtml" for="@chara" />*@

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" asp-area="" asp-controller="Character" asp-action="CreatorPage">Character Front</a>

  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Attribute</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled">Stats</a>
  </li>
</ul>

<div class="progress" role="progressbar" aria-label="Default striped example" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
    <div class="progress-bar progress-bar-striped" style="width: 0%"></div>
</div>


<div class="container text-center">
    <h1>
        Create your character!
    </h1>
</div>
<div class="container px-4 text-center">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3">
                Name
            </div>
        </div>
        <div class="col">
            <div class="p-3">
                Age
            </div>
        </div>
        <div class="col">
            <div class="p-3">
                Gender
            </div>
        </div>
    </div>
</div>


<div class="container text-center">
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <input />
            </div>
            <div class="col">
                <input />
            </div>
            <div class="col">
                <input />
            </div>
        </div>
    </div>
</div>

<div class="container text-center">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">


            <grammarly-extension data-grammarly-shadow-root="true" style="position: absolute; top: 0px; left: 0px; pointer-events:
            none;" class="dnXmp"></grammarly-extension><grammarly-extension data-grammarly-shadow-root="true" 
            style="mix-blend-mode: darken; position: absolute; top: 0px; left: 0px; pointer-events: none;" 
            class="dnXmp"></grammarly-extension>
            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="exampleTextarea" class="form-label mt-4">Create a backstory!</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3" spellcheck="false"></textarea>
                        <h3> Or you could choose a premade backstory.</h3>
                    </div>
                </fieldset>
            </form>

            <grammarly-extension data-grammarly-shadow-root="true" style="position: absolute; top: 0px; left: 0px; pointer-events:
            none;" class="dnXmp"></grammarly-extension><grammarly-extension data-grammarly-shadow-root="true"
            style="mix-blend-mode: darken; position: absolute; top: 0px; left: 0px; pointer-events: none;"
            class="dnXmp"></grammarly-extension>
            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="exampleSelect2" class="form-label mt-4">Example multiple select</label>
                        <select multiple="" class="form-select" id="exampleSelect2">
                            <option>Generic Good backstory</option>
                            <option>Generic Unfortunate backstory</option>
                            <option>Generic Sad backstory</option>
                            <option>Generic but exciting backstory</option>
                            <option>Generic neutral backstory</option>
                        </select>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>

<div class="container px-4 text-center">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3">
            </div>
        </div>
        <div class="col">
            <div class="p-3">
                <a class="nav-link" asp-controller="Character" asp-action="CharacterAttribute">
                    <button type="button" asp-area="" asp-controller="Character" asp-action="CharacterAttribute">
                        Next
                    </button>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="p-3">
            </div>
        </div>
    </div>
</div>