@model Character

<div class="container mt-2 text-center">
	<form method="post">
		
		<button class="mt-2" asp-area="" asp-controller="Character" asp-action="InteractiveSheet">Submit</button>
	</form>
	<p class="text-danger">@TempData["ErrorDisplay"]</p>
</div>