@model Character

<div class="container mt-2 text-center">
	<form method="post">
			<div class="container px-4 text-center">
		<div class="row gx-5">
			<div class="col">
				<div class="p-3">
					
				</div>
			</div>
			<div class="col">
				<div class="p-3">
					<h2>
					Choose some skills!
					</h2>
				</div>
			</div>
			<div class="col">
				<div class="p-3">
					
				</div>
			</div>
		</div>
	</div>

	<div class="container text-center">
		<div class="container text-center">
			<div class="row">
				<div class="col">
					<input />
				</div>
				<div class="col">
					<input />
				</div>
				<div class="col">
					<input />
				</div>
			</div>
		</div>
	</div>
	<div class="container px-4 text-center">
		<div class="row gx-5">
			<div class="col">
				<div class="p-3"></div>
			</div>
			<div class="col">
				<div class="p-3"></div>
			</div>
		</div>
	</div>
	<div class="container text-center">
		<div class="row align-items-start">
				<div class="col">
					</div>
			   <div class="col">
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
							Dropdown button
						</button>
						<ul class="dropdown-menu" >
							<li><a class="dropdown-item" href="#">Quality Example 1</a></li>
							<li><a class="dropdown-item" href="#">Quality Example 2</a></li>
							<li><a class="dropdown-item" href="#">Quality Example 3</a></li>
						</ul>
					</div>
			   </div>
			<div class="col">
			</div>
		</div>
	</div>
		<button class="mt-2" asp-area="" asp-controller="Character" asp-action="InteractiveSheet">Submit</button>
	</form>
	<p class="text-danger">@TempData["ErrorDisplay"]</p>
</div>