@model Character

<div class="text-center border-2 border-light mb-2">
	<p class="fs-4">@Model.Name</p>
	<form method="post">
		<input type="text" value="@Model.CharacterID" id="id" name="id" hidden/>
		<button class="btn btn-outline-success" asp-controller="Character" asp-action="EditCharacter">Edit</button>
		<button class="btn btn-outline-info" asp-controller="Character" asp-action="InteractiveSheet">View</button>
		<button class="btn btn-outline-danger" asp-controller="Character" asp-action="DeleteCharacter">Delete</button>
	</form>
</div>