@model Accounts

<h4>@TempData["Success"]</h4>
<form method="post" asp-controller="Account" asp-action="Profile">
	<div class="text-center">
        <div>
            <h1><b>Profile Page</b></h1>
            <h2><b>View and edit your profile information</b></h2>
            <hr/>
        </div>
        <div>
            <h3><b><label asp-for="Username"></label></b></h3>
            <h4>Change your username</h4>
            <input asp-for="Username" class="form-control m-auto" style="width: 400px;"/>
            <hr/>
        </div>
        <div class="mb-3">
            <h3><b><label asp-for="Bio"></label></b></h3>
            <h4>Write a short bio about yourself or don't</h4>
            <input asp-for="Bio" class="form-control m-auto" style="width: 400px;"/>
            <hr/>
        </div>
        <div>
            <h3><b><label asp-for="Email"></label></b></h3>
            <h4>Change your email</h4>
            <input asp-for="Email" class="form-control m-auto" style="width: 400px;"/>
            <hr />
        </div>
        <div>
            <h3><b><label asp-for="Password"></label></b></h3>
            <h4>Change password</h4>
            <input asp-for="Password" class="form-control m-auto" style="width: 400px;"/>
            <hr />
        </div>
        <button type="submit" class="btn btn-primary">
            <i class="bi bi-arrow-down-circle"></i> Update profile
        </button>
    </div>
</form>