<div class="text-center">
    <h1><b>Welcome to Aftermath</b></h1>
    <hr/>
    <h2><b>Lore</b></h2>
    <h4>In a world devastated by nuclear war, the remnants of humanity must struggle to survive in the irradiated wasteland and fight off terrible dangers. Clean water is worth more than any dollar bill on this new Earth, and those with nothing to trade won’t last long. Every day is a fight against sweltering heat, bandits, and mutant creatures. Every moment alive is a blessing and a curse. Welcome to Hell on Earth, our own creation. Welcome… to the Aftermath.</h4>
    <hr/>
    <h2><b>Attributes</b></h2>
    <h4>Attributes are the core of the player-character. There are six attributes in total: Finesse, Brawn, Toughness, Intellect, Personality, and Acuity. </h4>
    <h4>When making a character, the player determines two attributes they want to be their character’s Strong attributes and then one attribute that will be their character’s Weak attribute. When rolling dice to determine an outcome, the player rolls twice and takes the higher outcome with a Strong attribute, and the player rolls twice and takes the lower outcome with a Weak attribute.</h4>
    <hr/>
    <h2><b>Initiative</b></h2>
    <h4>Initiative determines the order in which characters take their turns during combat or similarly tense situations. In Aftermath, Initiative is meant to be dynamic, which means it will constantly be changing depending on what actions the players take.</h4>
    <h4>Initiative is broken into three stages: first, middle and last. Most participants will start in middle initiative.</h4>
</div>
